

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(/assets/linh-pham-6vdNPL3a5SE-unsplash.jpg) fixed;
    background-size: cover;

}

/*Top*/

.navPics {
    text-align: center;
    background-color: rgb(5, 65, 5);
    width: 100%; 
    margin: 0;
}

img {
    width: 25%;
    height: 8rem;
    margin: 0;
    float: left;
}

/*Welcome*/

.head {
    border-radius: 10px;
    border: 1px solid yellow;
    overflow: hidden;
}

.welcome {
    width: 100%;
    background-color: rgb(5, 65, 5);
    margin: 0;
}

h1, p {
    text-align: center;
    line-height: 3.75rem;
    color: yellow;
    margin: 0;
}

h1 {
    font-size: 2vw;
}

p {
    font-size: 1vw;
}

p.second-headline {
    border-radius: 10px;
    background-color: tomato;
    border-radius: 10px;
    border: 1px solid yellow;
}

/*Middle*/

.container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 1rem;
}

.information, .contact {
    height: 100%;
    width: 20%;
    position: absolute;
    background-color: rgb(110, 134, 60, 0.7);
    border-radius: 10px;
    border: 1px solid yellow;
}

.information ul li {
    list-style-type: none;
    margin-top: 1vw;
    font-size: 1vw;
    color: yellow;
}

.information h1 {
    font-size: 1.5vw;
}

.contact {
right: 0;
text-align: center;
}

.prices {
    width: 58%;
    margin: 0 21% 0 21%;
    background-color: rgba(56, 119, 31, 0.8);
    text-align: center;
    flex: 1;
    border-radius: 10px;
    border: 1px solid yellow;
}

.prices ul li {
    list-style-type: none;
    margin-top: 1vw;
    font-size: 2vw;
    color: yellow;
    width: 100%;
}

.contact ul li {
    list-style-type: none;
    margin-top: 1vw;
    font-size: 1.5vw;
    color: yellow;
}

.company {
    background-color: rgb(110, 134, 60, 0.5);
    text-align: center;
    font-size: 2vw;  
    color: yellow;
    border-radius: 10px;
    border: 1px solid yellow;
    margin-top: 1rem;
}

.company ul li {
    list-style-type: none;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    text-align: center;
    margin-right: 0;
}

/**/

@media (max-width: 980px) {
    img {
        width: 25%;
    }

    h1 {
        font-size: 4vw;
    }

    p {
        font-size: 3vw;
    }

    .head {
        width: 98%;
        margin: 0 1% 0 1%;
    }

    .welcome {
        
        line-height: normal;
    }

    .information, .contact, .prices {
        width: 98%;
        position: relative;
        margin: 0 1% 2% 1%;
        border: 1px solid black;
        border-radius: 10px;
    }

    .prices {
        height: 110rem;
    }

    .prices ul li {
        font-size: 4vw;
    }
    .prices li {
        display:inline-block;
        margin-right:10%;
    }

    .contact ul li {
        margin-top: 1vw;
        font-size: 4vw;
    }

    .contact p {
        font-size: 4vw;
        border: 1px solid yellow;
        border-radius: 10px;
        background-color: tomato;
    }

    .information ul li {
        list-style-type: none;
        margin-top: 1vw;
        font-size: 4vw;
        color: yellow;
    }

    .information h1 {
        font-size: 3.5vw;
    }

    .information p {
        border: 1px solid yellow;
        border-radius: 10px;
        background-color: tomato;
    }

    .company {
        text-align: center;
        background-color: rgb(110, 134, 60, 0.5);
        color: yellow;
        margin: 0 1% 0 1%;
    }

    .company ul li {
        font-size: 2vw;
        list-style-type: none;
    }
}

@media (min-width: 980px) {
img {
    height: 15rem;
}
}