html {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.red {
    color: red;
    float: left;
}

.green {
    color: green;
    float: left;
}

.navBar h1 {
    display: inline-block;
    font-size: 3rem;
    font-family: 'Proza Libre', sans-serif;
}

.navBar h3 {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Proza Libre', sans-serif;
}

.right {
    float: right;
}

.navBar {
    height: 3rem;
    line-height: 3rem;
    margin-top: 0.5rem;
}


.slogen {
    text-align: center;
    background-color: green;
}

.slogen h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    padding-top: 0.5rem;
    color: honeydew;
}

.slogen h3 {
    font-size: 1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-family: 'Proza Libre', sans-serif;
    color: honeydew;
}


.information {
    text-align: center;
    width: 20%;
    float: left;
}

.information h1 {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.second-headline {
    background-color: green;
    color: honeydew;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    font-family: 'Proza Libre', sans-serif;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.information p, .information li {
    font-family: 'Open Sans', sans-serif;
}

.bankcard, .commercial {
    width: 100%;
}

.categories {
    text-align: center;
}

.products {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
}

.products-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 15rem;
    height: 17rem;
    margin-top: 1rem;
    text-align: center;
}

.priceBox {
    position: absolute;
    bottom: 0.1rem;
    text-align: center;
    width: 100%;
    height: 15%;
}

.choose {
    height: 20%;
    bottom: 0.5rem;
}

.products-img {
    width: 100%;
    height: 100%;
}

.basket-btn {
    width: 20%;
    height: 2rem;
    margin: auto 0;
    background-color: tomato;
    border-radius: 5px;
    color: honeydew;
    border: 0;
    box-sizing: border-box;
}

.basket-btn:hover {
    background-color: red;
}

.javaDiv {
    width: 79%;
    float: right;
}

.javaDiv span {
    position: absolute;
    bottom: 0;
    background-color: green;
    padding: 0.4rem 0.5rem;
    border-radius: 50%;
}

.stickyBasket {
    height: 6rem;
    width: 6rem;
    position: relative;
    margin: 1rem 5rem 1rem 0;
    left: 0;
    padding: 0;
    border:0;
    border-radius: 50%;
    display: inline-block;
    background-color: tomato;
}

.stickyBasket i {
    font-size: 3rem;
    color: honeydew;
}

#searchBar {
    position: relative;
    right: 0;
    display: inline-block;
}

.fa-shopping-basket {
    font-size: 1rem;
}

.basket-inp {
    border: 1px soild black;
    width: 20%;
}

.pkg {
    display: inline;
}

.products-pics {
    position: absolute;
    top: 0;
    height: 65%;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.products-prices {
    position: absolute;
    width: 100%;
    height: 20%;
    line-height: 1.7rem;
    bottom: 2.5rem;
    margin-top: 4%;
    font-family: 'Proza Libre', sans-serif;
}

.smaller {
    height: 15%;
    bottom: 3rem;
}

.products-img {
    width: 100%;
    height: 100%;
}

.acat {
    width: 20%;
    height: 3rem;
    line-height: 3rem;
    font-size: 2vw;
    margin: 3rem auto;
    background-color: #6CC15A;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
    border-radius: 5px;
    color: honeydew;
    font-family: 'Proza Libre', sans-serif;
    display: block;
    text-decoration: none;
}

.kind-line {
    width: 20%;
    height: 3rem;
    line-height: 3rem;
    font-size: 2vw;
    margin: 1rem 0 1rem 0;
    background-color: #6CC15A;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
    border-radius: 5px;
    color: honeydew;
    font-family: 'Indie Flower', cursive;
    display: inline-block;
}

.longDiv {
    width: 35%;
}

.discount-line {
    width: 20%;
    height: 3rem;
    line-height: 3rem;
    font-size: 2vw;
    margin: 1rem 0 0 0;
    background-color: tomato;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
    border-radius: 5px;
    color: honeydew;
    font-family: 'Open Sans', sans-serif;
}

.discount-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 19rem;
    height: 22rem;
    margin-top: 1.5rem;
}

.discount-pics {
    position: relative;
    top: 0;
    height: 60%;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    box-shadow: none;
}

.discount-priceOld {
    position: relative;
    bottom: 3%;
    width: 100%;
    height: 15%;
    line-height: 1.5rem;
    font-size: 1.3rem;
    margin-top: 4%;
    font-family: 'Proza Libre', sans-serif;
}

.discount-priceNew {
    width: 100%;
    height: 5%;
    position: relative;
    bottom: 0.7rem;
    line-height: 1rem;
    font-size: 1rem;
    font-family: 'Proza Libre', sans-serif;
    overflow: visible;
}

.products-img, .discount-img {
    width: 100%;
    height: 100%;
}

#flip1, #flip2, #flip4, #flip5 {
    width: 20%;
    height: 3rem;
    line-height: 3rem;
    font-size: 2vw;
    margin: 1rem 0 1rem 0;
    background-color: #6CC15A;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
    border-radius: 5px;
    color: honeydew;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    text-align: center;
}
      
#flip3 {
    width: 30%;
    height: 3rem;
    line-height: 3rem;
    font-size: 2vw;
    margin: 1rem 0 1rem 0;
    background-color: #6CC15A;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
    border-radius: 5px;
    color: honeydew;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    text-align: center;
}

#flip5 {
    width: 25%;
}

#flip6 {
    width: 20%;
    height: 3rem;
    line-height: 3rem;
    font-size: 2vw;
    margin: 1rem 0 0 0;
    background-color: tomato;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
    border-radius: 5px;
    color: honeydew;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    text-align: center;
}

#panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
    margin-top: 1rem;
    display: none;
}
            
#waters, #pastas {
    width: 90%;
    margin-bottom: 0.1rem;
    text-align: center;
}

.goods-inp {
    width: 30%;
    text-align: center;
}