body {
    background-color: black;
}

h1, h3, h5, li, p {
    color: ivory;
    font-family: 'Roboto', sans-serif;
}

#zsoltgöbölyös {
    font-size: 25px;
    font-weight: 100;
}

img {
    box-shadow: 50px 50px 50px black;
    position: absolute;
    border-radius: 50%;
    border: 1px solid ivory;
    margin-top: 100px;   
}

a {
    text-align: center;
    vertical-align: middle;
}

#cv {
    width: 60%;
    height: 100%;
    }

#experiences {
    width: 50%;
    height: 100%;
    display: inline-block;
}

#studies {
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}

#contact-box {
    width: 250px;
    height: 200px;
    background-color: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    color: ivory;
}

#contact-ul {
    list-style-type: none;
}

#welcome {
    height: 100%;
    width: 160px;
    text-align: justify;
}

ul li {
    display: inline;
}
    
.right {
    float: right;
}

.left {
    float: left;
}

.facebook {
    font-size: 50px;
    color: ivory;
    position: relative;
    float: left;
    margin: 5px;
}

.facebook:hover {
    font-size: 50px;
    color: rgb(66, 103, 173);
}

.instagram {
    font-size: 50px;
    color: ivory;
    position: relative;
    float: left;
    margin: 5px;
}

.instagram:hover {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }

.youtube {
    font-size: 50px;
    color: ivory;
    position: relative;
    float: left;
    margin: 5px;
}

  .youtube:hover {
    color: red;
    font-size: 50px;
  }

  