body {
    background: url(/assets/stefano-zocca-7mLBtcDJnUg-unsplash.jpg)no-repeat center center fixed;
    background-size: cover;
    color: rgb(190, 167, 97);
}

.nameCard, 
.container,
.socialMedia,
.phoneNumber,
.picture,
img {
    box-sizing: border-box;
    border-radius: 10px;
}

.container,
.phoneNumber,
.socialMedia {
position: relative;
background-color: hsla(133, 72%, 16%, 0.61);
border: 1px solid rgb(190, 167, 97);
}

.nameCard {
    position: relative;
    margin: auto;
    width: 50vw;
    height: 92vh;
    background-color: hsla(135, 25%, 56%, 0.3);
    border: 1px solid hsla(133, 72%, 16%, 0.61);
    box-shadow: 1px 1px 0px hsla(133, 72%, 16%, 0.61),
    2px 2px 0px hsla(133, 72%, 16%, 0.61),
    3px 3px 0px hsla(133, 72%, 16%, 0.61),
    4px 4px 0px hsla(133, 72%, 16%, 0.61),
    5px 5px 0px hsla(133, 72%, 16%, 0.61),
    6px 6px 0px hsla(133, 72%, 16%, 0.61);
    
}

.container {
    width: 90%;
    height: 40%;
    left: 5%;
    top: 5%;
}

.socialMedia {
    width: 40%;
    height: 40%;
    left: 5%;
    top: 15%;;

}

.phoneNumber {
    width: 40%;
    height: 40%;
    right: 5%;
    top: 15%;
    font-size: 2vw;
    text-align: center;
    padding-top: 10%;
}

.picture {
    width: 20%;
    height: 20%;
    left: 50%;
    margin-left: -10%;
    position: absolute;
    
}

img {
    height: 100%;
    width: 100%;
    border: 3px solid rgb(190, 167, 97);
}

ul {
    list-style-type: none; 
    width: min-content;
    padding: 0;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h1, h3 {
    margin: auto;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 5vh;
    letter-spacing: 1vw;
}

h3 {
    font-size: 3vh;
    text-align: justify;
    padding: 1vw;
}


/*Layout*/

.left {
    float: left;
}

.right {
    float: right;
}

/*Social Media*/
.facebook, .facebook:hover {
    font-size: 8vh;
    position: relative;
}

.facebook, .instagram, .linkedin {
    color: rgb(190, 167, 97);
    margin-top: 2vh;
}

.facebook:hover {
    color: rgb(66, 103, 173);
}

.instagram, .instagram:hover {
    font-size: 8vh;
    position: relative;
}

.instagram:hover {
    display: inline-block;
    width: 8vh;
    height: 8vh;
    border-radius: 0.75rem;
    color: #fff;
    line-height: 10vh;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }

.linkedin, .linkedin:hover {
    font-size: 8vh;
    position: relative;
}

  .linkedin:hover {
    color: #0072b1  
  }