p {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    text-align: center;
    width: 70%;
    font-weight: 300;
    margin: auto;
    color: darkgrey;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: darkgrey;
    text-align: center;
}

#signiture {
    font-family: 'Parisienne', cursive;
    color: darkgrey;
    font-size: 24px;
}

#p-bold {
    font-weight: bold;
}

body {
    background: url(/assets/darkness.jpg) center center;
}