@font-face {
    font-family: "DancingScript";
src: url(/font-families/DncingScript/static/DancingScript-Regular.ttf);
font-weight: 300;
}

.theFirst {
font-size: 30px;
font-family: 'DancingScript-Regular.ttf', 'Courier New', Courier, monospace;
text-align: center;
margin: 0 425px 0 425px;

}

body {
    background-image: url(pictures/paperbg.jpg), url(pictures/wood.jpg);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center, center;
    background-size: contain, cover;
}

#signiture {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

