@media (max-width: 500px) {

    .head {
        width: 98%;
        margin: 0 1% 0 1%;
    }

    .welcome {
        height: 100%;
        line-height: 3rem;
        top: 0;  
    }

    .welcome h1 {
        font-size: 5vw;
    }

    .welcome p {
        font-size: 4vw;
    }

    .information, .contact, .prices {
        width: 98%;
        position: relative;
        margin: 0 1% 2% 1%;
    }

    .prices-top {
        width: 95%;
        margin: 2rem 2.5% 2rem 2.5%;
    }

    .right, .left {
        width: 45%;
        margin:  1rem 0.5rem;
    }

    .prices-top {
        height: 30rem;
    }

    .prices-top-lyrics {
        font-size: 4vw;
    }

    .prices p {
        font-size: 3.5vw;
    }

    .contact p {
        font-size: 4vw;
    }

    .contact h1 {
        font-size: 5vw;
    }

    .information ul li {
        font-size: 4vw;
    }

    .information h1 {
        font-size: 5vw;
        margin: 0;
    }

    .information p {
        font-size: 4vw;
    }

    .company {
        text-align: center;
        background-color: rgb(110, 134, 60, 0.5);
        margin: 0 1% 0 1%;
    }

    .company ul li {
        font-size: 4vw;
        list-style-type: none;
    }

    .second-headline {
        margin-bottom: 1rem;
    }
    
    .bankcard {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media (min-width: 980px) {
    .prices-line {
        height: 20rem;
    }

    .welcome {
        height: 7rem;
        line-height: 3.5rem;
    }
}